<script defer src="/js/companydetails.js"></script>

<div class="companydetails">

  <form action="/companydetails" method="post" class='companydetails__inn-form' id='inn-form'>
    <label for="inn-number" class='companydetails__inn-label'>Введите номер ИНН для поиска данных о Вашей организации:</label>
    <input type="number" required name="inn-number" id='inn-number' class='companydetails__inn-input'>
    <button type="submit" class='companydetails__inn-button'>Отправить</button>

  </form>

  
    
    <div class="companyInfo"></div>


</div>