<div id='container' class='contract'>

  <h4 class='contract__title'>Договор оферты</h4>

<p class='contract__text_center'>Лицензионный договор&nbsp;&mdash; оферта о&nbsp;предоставлении права использования программы для ЭВМ на&nbsp;условиях простой (неисключительной) лицензии, а&nbsp;также об&nbsp;оказании иных сопутствующих услуг.</p>

<p class='contract__text'></p>Настоящий Договор является офертой Общества с&nbsp;ограниченной ответственностью &laquo;Мобильное Решение&raquo; (ИНН 1101163130, ОГРН 1181121002754), именуемого в&nbsp;дальнейшем Лицензиар, в&nbsp;лице Генерального директора Рамазанова Айрата Ирековича, действующего на&nbsp;основании Устава, адресованной (по&nbsp;смыслу&nbsp;ст.&nbsp;435 и&nbsp;ч.&nbsp;2&nbsp;ст.437 Гражданского кодекса&nbsp;РФ) любому Пользователю физическому&nbsp;и (или) юридическому лицу, именуемому в&nbsp;дальнейшем Лицензиат.</p>

<p class='contract__text'>1. Основные понятия, применяемые в&nbsp;настоящем Договоре</p>

<p class='contract__text'>Лицензиар&nbsp;&mdash; обладатель исключительного права на&nbsp;программу для ЭВМ, имеющий правомочия на&nbsp;передачу прав пользования программой по&nbsp;лицензионному договору на&nbsp;основании Свидетельства о&nbsp;государственной регистрации программы для ЭВМ No&nbsp;2019615128 от&nbsp;18&nbsp;апреля 2019&nbsp;года.</p>

<p class='contract__text'>Лицензиат&nbsp;&mdash; лицо, которому обладателем исключительного права на&nbsp;программу для ЭВМ предоставляется право использования программы для ЭВМ на&nbsp;условиях, предусмотренных настоящим Договором.</p>

<p class='contract__text'>Программа для ЭВМ (далее&nbsp;&mdash; &laquo;программа, программный комплекс&raquo;)&nbsp;&mdash; зарегистрированный в&nbsp;установленном порядке программный комплекс &laquo;Aqua Delivery&raquo; (&laquo;Система Aqua Delivery&raquo;). Интерфейс управления доставкой &mdash; это web-сайт, в&nbsp;котором выполняются функции управления доставкой:</p>

<p class='contract__text'>&bull; администрирования&nbsp;&mdash; настройки системы, ввод и&nbsp;удаление данных в&nbsp;системе;</p>

<p class='contract__text'>&bull; управление периодами доставки, ценами и&nbsp;типами оплат.</p>

<p class='contract__text'>Программа поддерживает браузеры: Mozilla Firefox, Google Chrome или Yandex.</p>

<p class='contract__text'>Мобильное приложение клиента&nbsp;&mdash; это мобильное приложение, которое скачивается с&nbsp;Google&nbsp;&mdash; Play Market или Apple&nbsp;&mdash; AppStore и&nbsp;устанавливается конечным клиентом Лицензиата на&nbsp;мобильный телефон, планшет и&nbsp;другие устройства операционной системой Android версии 5.0 и&nbsp;выше или iOS версии 9.0 и&nbsp;выше, выполняет функции: заказа товара, получение уведомлений, истории доставок, получения информации о&nbsp;товарах, услугах и&nbsp;об&nbsp;акциях. Обязательным условием является включенная функция определения геолокации и&nbsp;push-уведомлений на&nbsp;мобильном устройстве клиента и&nbsp;в&nbsp;приложении, а&nbsp;также выраженное клиентом согласие с&nbsp;политикой конфиденциальности и&nbsp;условиями пользования программой для ЭВМ.</p>


<p class='contract__text'>2. Предмет настоящего Договора-оферты</p>

<p class='contract__text'>2.1. Предметом настоящего Договора является передача Лицензиаром неисключительных прав использования результата интеллектуальной деятельности&nbsp;&mdash; программы для ЭВМ &laquo;Aqua Delivery&raquo;&nbsp;&mdash; Лицензиату на&nbsp;условиях простой (неисключительной) лицензии путем воспроизведения программы (подключения к&nbsp;Программе через сеть Интернет и&nbsp;открытия доступа к&nbsp;серверу Лицензиара), исключительно для самостоятельного использования
Лицензиатом, а&nbsp;также оказание иных сопутствующих услуг. Предоставление права использования осуществляется в&nbsp;объеме, соответствующем функциональным возможностям программы и&nbsp;определенном Лицензиаром для каждого конкретного Лицензиата.</p>


<p class='contract__text'>2.2. Порядок предоставления доступа:</p>

<p class='contract__text'>Акцепт Оферты является подтверждением того, что все и&nbsp;любые условия Оферты принимаются Заказчиком целиком и&nbsp;полностью без каких-либо оговорок и&nbsp;ограничений, при этом Акцепт Оферты подтверждает, что Заказчику понятны все условия оказания Услуги и&nbsp;условия Оферты, что Заказчик воспользовался правом получить у&nbsp;Исполнителя все и&nbsp;любые разъяснения относительно условий оказания Услуг и&nbsp;Оферты, а&nbsp;также подтверждает&nbsp;то, что условия оказания Услуг и&nbsp;Оферты полностью соответствуют воле, потребностям и&nbsp;требованиям Заказчика. Акцепт Оферты означает, что Оферта не&nbsp;содержит указанных в&nbsp;п.&nbsp;2&nbsp;ст.&nbsp;428 Гражданского кодекса условий, а&nbsp;равно не&nbsp;содержит иных явно обременительных для Заказчика условий, которые Заказчик, исходя из&nbsp;своих разумно понимаемых интересов, не&nbsp;принял&nbsp;бы при наличии у&nbsp;него возможности участвовать в&nbsp;определении условий Оферты, а&nbsp;Услуги, указанные в&nbsp;настоящей Оферте, не&nbsp;являются навязанными Заказчику.</p>

<p class='contract__text'>&mdash;&nbsp;зарегистрироваться в&nbsp;личном кабинете</p>
<p class='contract__text'>&mdash;&nbsp;предоставить данные юридического или физического лица</p>
<p class='contract__text'>&mdash;&nbsp;произведение оплаты</p>
<p class='contract__text'>&mdash;&nbsp;оформление чек-листа</p>
<p class='contract__text'>&mdash;&nbsp;проверка и&nbsp;настройка опубликованных приложений и&nbsp;систем по&nbsp;работе с&nbsp;клиентами</p>
<p class='contract__text'>&mdash;&nbsp;техническая поддержка продукта с&nbsp;1&nbsp;дня публикации сайта и&nbsp;приложений в&nbsp;сторах</p>
<p class='contract__text'>&mdash;&nbsp;в&nbsp;случае не&nbsp;оплаты за&nbsp;продукт более 30&nbsp;дней, Лицензиар вправе отключить систему с&nbsp;31&nbsp;дня</p>

<p class='contract__text'>2.3. Технические данные программы &laquo;Aqua Delivery&raquo; описаны в&nbsp;разделе 1&nbsp;настоящего Договора. Программный комплекс создан по&nbsp;модели SaaS (англ. Software as&nbsp;a&nbsp;service&nbsp;&mdash; программное обеспечение как услуга) с&nbsp;целью облачной автоматизации работы Лицензиата.</p>

<p class='contract__text'>3. Права и&nbsp;обязанности Лицензиара</p>
<p class='contract__text'>3.1.1. Права Лицензиара:</p>

<p class='contract__text'>3.1.2. Лицензиару принадлежат все известные на&nbsp;момент заключения настоящего Договора исключительные имущественные права на&nbsp;программу, в&nbsp;том числе права на&nbsp;распоряжение программой, на&nbsp;ее&nbsp;использование в&nbsp;любой форме и&nbsp;любым способом.</p>

<p class='contract__text'>3.1.3. Лицензиар вправе требовать от&nbsp;Лицензиата выплаты вознаграждения за&nbsp;предоставленное право на&nbsp;использование программы в&nbsp;сроки и&nbsp;на&nbsp;условиях, установленных настоящим Договором.</p>

<p class='contract__text'>3.1.4. В&nbsp;случае выявления нарушений своих прав Лицензиар вправе осуществлять защиту в&nbsp;порядке и&nbsp;способами, предусмотренными законодательством&nbsp;РФ, в&nbsp;том числе, Лицензиар вправе требовать от&nbsp;нарушителя выплаты компенсации за&nbsp;нарушение указанного права без определения размера убытков.</p>

<p class='contract__text'>3.2. Лицензиар обязан:</p>

<p class='contract__text'>3.2.1. предоставить Лицензиату обусловленную настоящим Договором Программу, а&nbsp;также всю необходимую сопроводительную документацию.</p>

<p class='contract__text'>3.2.2. не&nbsp;передавать третьим лицам пароли&nbsp;и (или) логины, используемые Лицензиатом для доступа к&nbsp;программе, обеспечить конфиденциальность их&nbsp;хранения, сохранность базы данных.</p>

<p class='contract__text'>3.2.3. обеспечить круглосуточный доступ в&nbsp;программу всех авторизованных пользователей, а&nbsp;также осуществлять исправление текущих ошибок, обнаруженных при эксплуатации программы.</p>

<p class='contract__text'>3.2.4. осуществлять техническую поддержку программы, оказывать иные услуги, если таковые входят в&nbsp;тарифный план лицензии, выбранный Лицензиатом.</p>

<p class='contract__text'>4. Права и&nbsp;обязанности Лицензиата</p>

<p class='contract__text'>4.1. Лицензиат вправе:</p>

<p class='contract__text'>4.1.1. осуществлять эксплуатацию программы исключительно в&nbsp;соответствии с&nbsp;ее&nbsp;назначением и&nbsp;условиями настоящего Договора.</p>

<p class='contract__text'>4.2. Лицензиат обязан:</p>

<p class='contract__text'>4.2.1. не&nbsp;допускать действий, влекущих за&nbsp;собой нарушение прав Лицензиара.</p>

<p class='contract__text'>4.2.2. своевременно производить оплату вознаграждения, причитающегося Лицензиару в&nbsp;рамках настоящего Договора, оплачивать сопутствующие услуги Лицензиара.</p>

<p class='contract__text'>4.2.3. не&nbsp;передавать третьим лицам пароли и&nbsp;логины, используемые для доступа к&nbsp;сервису, обеспечить конфиденциальность их&nbsp;хранения, при необходимости назначить уполномоченных лиц, имеющих право доступа к&nbsp;определенным логинами, принадлежащими Лицензиару.</p>

<p class='contract__text'>4.2.4. однократно уступить (передать) полностью свои права и&nbsp;обязанности по&nbsp;настоящему Договору другому лицу исключительно при условии получения предварительного письменного согласия Лицензиара.</p>

<p class='contract__text'>4.3. Лицензиат гарантирует, что:</p>

<p class='contract__text'>4.3.1. при обработке персональных данных Лицензиатом соблюдены все права субъектов персональных данных, предусмотренные законодательством Российской Федерации в&nbsp;области защиты персональных данных.</p>

<p class='contract__text'>4.3.2. Лицензиатом получены согласия субъектов персональных данных на&nbsp;обработку принадлежащих им&nbsp;персональных данных.</p>

<p class='contract__text'>4.4. Лицензиат не&nbsp;имеет права осуществлять сублицензирование третьим лицам.</p>

<p class='contract__text'>5. Порядок расчетов по&nbsp;настоящему Договору-оферте</p>

<p class='contract__text'>5.1. Лицензиат выплачивает Лицензиату вознаграждение за&nbsp;право использования программы &laquo;Aqua Delivery&raquo; в&nbsp;соответствии с&nbsp;выбранным типом лицензии в&nbsp;размере, установленном в&nbsp;Приложении No&nbsp;1&nbsp;к настоящему Договору.</p>

<p class='contract__text'>5.2. Порядок оплаты:</p>

<p class='contract__text'>5.3. Лицензиар имеет право в&nbsp;одностороннем порядке при продлении настоящего Лицензионного договора изменять размер вознаграждения за&nbsp;право использования программы в&nbsp;соответствии с&nbsp;действующими на&nbsp;момент продления типами лицензий.</p>

<p class='contract__text'>5.4. В&nbsp;случае если в&nbsp;течение пяти календарных дней с&nbsp;момента окончания срока действия лицензии Лицензиар не&nbsp;получил претензий Лицензиата, связанных с&nbsp;объемом предоставленных прав, то&nbsp;считается что неисключительное право использования программы предоставлено Лицензиату в&nbsp;соответствии с&nbsp;настоящим Договором в&nbsp;полном объеме и&nbsp;надлежащим образом.</p>

<p class='contract__text'>5.5. Досрочное расторжение настоящего Договора не&nbsp;является основанием для возврата лицензионного вознаграждения.</p>

<p class='contract__text'>6. Условия использования программы. Исключительные и&nbsp;авторские права.</p>

<p class='contract__text'>6.1. Алгоритмы работы программы и&nbsp;ее&nbsp;исходные коды (в&nbsp;том числе их&nbsp;части) являются коммерческой тайной Лицензиара. Любое их&nbsp;использование или использование программы в&nbsp;нарушение условий настоящего Договора рассматривается как нарушение прав Лицензиара и&nbsp;является достаточным основанием для лишения Лицензиата предоставленных по&nbsp;настоящему Договору прав.</p>

<p class='contract__text'>6.2. Лицензиату не&nbsp;предоставляется право собственности на&nbsp;программу&nbsp;и (или) ее&nbsp;компоненты, а&nbsp;только право использования программы и&nbsp;ее&nbsp;компонентов в&nbsp;соответствии с&nbsp;условиями, которые закреплены в&nbsp;настоящем Договоре.</p>

<p class='contract__text'>6.3. Лицензиат не&nbsp;вправе копировать, распространять каким-либо программу&nbsp;и (или) ее&nbsp;компоненты в&nbsp;любой форме, в&nbsp;том числе в&nbsp;виде исходного кода, каким-либо способом, в&nbsp;том числе сдавать в&nbsp;аренду, безвозмездное пользование.</p>

<p class='contract__text'>7. Ответственность Сторон</p>

<p class='contract__text'>7.1. За&nbsp;неисполнение или ненадлежащее исполнения взятых на&nbsp;себя обязательств по&nbsp;настоящему Договору Стороны несут ответственность в&nbsp;соответствии с&nbsp;действующим законодательством&nbsp;РФ.</p>

<p class='contract__text'>7.2. Лицензиар имеет право незамедлительно без какого-либо дополнительного уведомления приостановить исполнение настоящего Договора в&nbsp;случае нарушения Лицензиатом условий, связанных с&nbsp;оплатой вознаграждения. Возобновление исполнения возможно по&nbsp;согласованию Сторон после устранения Лицензиаром вышеуказанного нарушения.</p>

<p class='contract__text'>7.3. В&nbsp;случае нарушения срока уплаты лицензионного вознаграждения Лицензиат уплачивает Лицензиару неустойку в&nbsp;размере 0,3&nbsp;% от&nbsp;суммы вознаграждения за&nbsp;каждый день просрочки.</p>

<p class='contract__text'>7.4. Стороны освобождаются от&nbsp;ответственности за&nbsp;неисполнение или ненадлежащее исполнение своих обязательств, если таковые действия&nbsp;/ бездействия явились следствием обстоятельств непреодолимой силы, а&nbsp;именно: пожара, наводнения, землетрясения и&nbsp;других стихийных бедствий, санкций со&nbsp;стороны иностранных правительств, технологических компаний Google&nbsp;и (или) Apple в&nbsp;отношении компаний, регионов или всей Российской Федерации, а&nbsp;также войны и&nbsp;военных действий, прямо исключающих исполнение сторонами своих обязательств.</p>

<p class='contract__text'>7.5. Сторона, которая не&nbsp;в&nbsp;состоянии выполнить свои обязательства в&nbsp;рамках настоящего Договора по&nbsp;условиям, изложенным в&nbsp;п.&nbsp;6.3. настоящего Договора, обязана незамедлительно в&nbsp;течение&nbsp;3 (трех) дней проинформировать другую Сторону в&nbsp;письменной форме об&nbsp;их&nbsp;наступлении&nbsp;и (или) прекращении, а&nbsp;также предоставить доказательства наступления и&nbsp;продолжительности вышеуказанных обстоятельств (как&nbsp;то: письменные документы, выданные компетентными государственными органами страны, в&nbsp;которой вышеуказанные обстоятельства имели место), кроме случаев, когда такие обстоятельства являются общеизвестными и&nbsp;невозможность информирования другой Стороны вызвана указанными причинами (в&nbsp;таком случае извещение производится в&nbsp;течение&nbsp;1 (одного) дня, когда такое извещение стало возможным).</p>

<p class='contract__text'>7.6. Лицензиат обязуется соблюдать Политику конфиденциальности Лицензиара и&nbsp;условия настоящего Договора, а&nbsp;также несет персональную единоличную ответственность, предусмотренную действующим законодательством&nbsp;РФ, за&nbsp;распространяемую в&nbsp;процессе пользования программой информацию, используемую в&nbsp;своей хозяйственной (предпринимательской) деятельности в&nbsp;связи с&nbsp;оказываемыми услугами по&nbsp;настоящему Договору.</p>

<p class='contract__text'>7.7. Лицензиар не&nbsp;несет ответственности за&nbsp;отсутствие у&nbsp;Лицензиата доступа в&nbsp;Интернет, за&nbsp;качество услуг провайдеров связи сети Интернет, с&nbsp;которыми Лицензиатом заключены соглашения о&nbsp;предоставлении услуг по&nbsp;доступу к&nbsp;сети Интернет, сбои на&nbsp;сервере, а&nbsp;также за&nbsp;иные обстоятельства, не&nbsp;зависящие от&nbsp;Лицензиара.</p>

<p class='contract__text'>7.8. Программа предоставляется по&nbsp;принципу &laquo;как есть&raquo; и&nbsp;Лицензиар не&nbsp;гарантирует, что все ее&nbsp;функциональные возможности будут отвечать ожиданиям Лицензиата или смогут быть применимы для конкретной его цели.</p>

<p class='contract__text'>7.9. На&nbsp;Лицензиара в&nbsp;любом случае не&nbsp;может быть возложена никакая ответственность за&nbsp;изменение режима использования, модификацию интерфейса или иного функционала программы, даже если в&nbsp;результате такого изменения программа и&nbsp;ее&nbsp;функциональные возможности перестают отвечать ожиданиям Лицензиата&nbsp;и (или) такое изменение послужит причиной прекращения использования программы Лицензиатом.</p>

<p class='contract__text'>7.10. Лицензиар не&nbsp;инициирует и&nbsp;не&nbsp;контролирует размещение Лицензиатом любой информации в&nbsp;процессе использования программы, не&nbsp;влияет на&nbsp;ее&nbsp;содержание и&nbsp;целостность, а&nbsp;также в&nbsp;момент ее&nbsp;размещения не&nbsp;знает и&nbsp;не&nbsp;может знать нарушает&nbsp;ли она охраняемые законом права и&nbsp;интересы третьих лиц, международные договоры и&nbsp;действующее применимое законодательство.</p>

<p class='contract__text'>8. ПРОЧИЕ УСЛОВИЯ</p>

<p class='contract__text'>8.1. В&nbsp;случаях, не&nbsp;урегулированных настоящим Договором, Стороны руководствуются действующим законодательством&nbsp;РФ.</p>

<p class='contract__text'>8.2. Претензионный порядок досудебного урегулирования споров из&nbsp;Договора является для Сторон обязательным.</p>

<p class='contract__text'>8.3. Все споры, вытекающие из&nbsp;настоящего Договора, Стороны обязуются решать путем переговоров. В&nbsp;случае, если Стороны не&nbsp;придут к&nbsp;соглашению путем переговоров и&nbsp;при условии соблюдения претензионного порядка, таковые споры передаются для разрешения в&nbsp;Арбитражный суд по&nbsp;месту нахождения Лицензиара.</p>

<p class='contract__text'>8.4. Настоящий Договор составляет и&nbsp;выражает все договорные условия и&nbsp;понимание между участвующими здесь Сторонами в&nbsp;отношении всех упомянутых условий, при этом все предыдущие обсуждения, обещания и&nbsp;представления между Сторонами, если таковые имелись, теряют силу.</p>

<p class='contract__text'>8.5. Условия и&nbsp;основания расторжения, прекращения действия настоящего Договора, а&nbsp;также пролонгации настоящего Договора предусмотрены действующим законодательством&nbsp;РФ, и&nbsp;оформляются в&nbsp;письменном виде путем направления соответствующего сообщения о&nbsp;наступлении юридически значимого события, способом, позволяющим достоверно подтвердить доставку юридически значимого сообщения.</p>

<p class='contract__text'>8.6. Стороны признают любую информацию, касающуюся заключения и&nbsp;исполнения настоящего Договора, включая любые приложения и&nbsp;дополнения к&nbsp;нему, коммерческой тайной и&nbsp;обязуются строго сохранять конфиденциальный характер такой информации, не&nbsp;разглашая ее&nbsp;третьим лицам без предварительного письменного на&nbsp;то&nbsp;согласия другой стороны, за&nbsp;исключением случаев, когда это необходимо для раскрытия соответствующим государственным органам в&nbsp;случаях, определенных законом. Указанное положение не&nbsp;относится к&nbsp;общеизвестной или общедоступной информации.</p>

<p class='contract__text'>8.7. Стороны договорились, что при исполнении настоящего Договора допускается использование подписей представителей Сторон, а&nbsp;также их&nbsp;печатей с&nbsp;помощью средств факсимильной связи, механического или иного копирования, электронно-цифровой подписи либо иного аналога собственноручной подписи руководителей и&nbsp;печатей организаций. Стороны подтверждают, что документы, подписанные и&nbsp;оформленные указанным в&nbsp;настоящем пункте способом, имеют юридическую силу и&nbsp;могут быть использованы в&nbsp;качестве доказательств при разрешении споров.</p>

<p class='contract__text'>8.8. Действие настоящего Договора распространяются на&nbsp;все последующие обновления или новые версии программы. Соглашаясь с&nbsp;установкой обновлений или новой версии, Лицензиат принимает условия настоящего Договора для соответствующих обновлений или новых версий, если обновления или новые версии не&nbsp;сопровождаются заключением нового отдельного Договора.</p>

<p class='contract__text'>8.9. Лицензиат осознает и&nbsp;соглашается с&nbsp;тем, что исключительные права на&nbsp;интернет- сайт и&nbsp;(или) мобильные приложения, включая их&nbsp;техническое наполнение, отдельные компоненты, информацию и&nbsp;материалы, опубликованные на&nbsp;сайте или в&nbsp;приложениях, принадлежат Лицензиару и&nbsp;охраняются в&nbsp;соответствии с&nbsp;законодательством РФ. Все права на&nbsp;материалы принадлежат Лицензиару. Воспроизведение или распространение указанных материалов в&nbsp;любой форме может производиться только с&nbsp;письменного разрешения Лицензиара.</p>

<p class='contract__text'>9. Реквизиты Лицензиара. Контакты.</p>

<button id='agreeButton' class='contract__button'>Согласен</button>
</div>

<script defer src="/js/ contract.js"></script>