<h4 class='companyInfo__title'>Сведения о компании:</h4>

<form action="/contract" class="companyInfo__category-form">
{{#each items }}
  <ul class="companyInfo__category">
    <li class="companyInfo__category-item">Название организации:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.НаимПолнЮЛ }}</span></li>
    <li class="companyInfo__category-item">{{ ЮЛ.Руководитель.Должн }}:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.Руководитель.ФИОПолн }}</span></li>
    <li class="companyInfo__category-item">ИНН:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.ИНН }}</span></li>
    <li class="companyInfo__category-item">КПП:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.КПП }}</span></li>
    <li class="companyInfo__category-item">ОГРН:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.ОГРН }}</span></li>
    <li class="companyInfo__category-item">Юридический адрес:<br> <span class='companyInfo__category-answer'>{{ ЮЛ.Адрес.АдресПолн }}</span></li>

    <li class="companyInfo__category-item">Фактический адрес:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="text" placeholder="г. Москва, ул. Вавилова, д. 1" required></span></li>

    <li class="companyInfo__category-item">Бренд:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="text" placeholder="Введите бренд" required></span></li>

    <li class="companyInfo__category-item">Ваш банк:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="text" placeholder="Введите название банка" required></span></li>

    <li class="companyInfo__category-item">БИК:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="number" placeholder="Введите БИК банка" required></span></li>

    <li class="companyInfo__category-item">Корреспондентский счет:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="number" placeholder="Введите корреспондентский счет банка" required></span></li>

    <li class="companyInfo__category-item">Расчетный счет организации:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="number" placeholder="Введите расчетный счет организации" required></span></li>

    <li class="companyInfo__category-item">Телефон организации:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="number" placeholder="Введите телефон" required></span></li>

    <li class="companyInfo__category-item">E-mail организации:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="text" placeholder="email@example.com" required></span></li>

    <li class="companyInfo__category-item">Телефон диспетчера:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="number" placeholder="Введите телефон" required></span></li>

    <li class="companyInfo__category-item">E-mail диспетчера:<br> <span class='companyInfo__category-answer'><input class='companyInfo__category-answer-input' type="text" placeholder="email@example.com" required></span></li>

    <li class="companyInfo__category-item"><button type="submit" class='companyInfo__inn-button'>Сохранить и продолжить</button></li>

</ul>
{{/each}}


</form>