<form action="/parser" method="post" class='inn-form' id='inn-form'>

  <label for="inn-number">Введите номер ИНН</label>
  <input type="number" required name="inn-number" id='inn-number'>
  <button type="submit">Отправить</button>

</form>
