<div>
  <div>
    Базовый включает в себе:
    - мобильное приложение Android и iOS,
    - админка по управлению системой,
    - кабинет заказов (CRM для работы с клиентами),
    - сайт для заказов

    цена его составляет 1000 рублей в месяц

    в случае оплаты за год оформление и настройка бесплатное,
    при оплате за 6 месяцев оформление и настройка добавочкая стоимость 10 т.р.,
    при оплате помесячно 15 т.р. за настройку и оформление
  </div>
  <div>
    Полный включает в себе:
    - мобильное приложение Android и iOS,
    - админка по управлению системой, полная
    - кабинет заказов (CRM для работы с клиентами), полная
    - сайт для заказов, расширенный
    - кабинет руководителя
    - возможность подключения эквайринга
    - возможность использовать кэшбэк и промокоды
    - возможность использовать чат с клиентом
    - возможность подключать к работе курьерское приложение

    цена его составляет 15000 рублей в месяц

    в случае оплаты за год оформление и настройка бесплатное,
    при оплате за 6 месяцев оформление и настройка добавочкая стоимость 10 т.р.,
    при оплате помесячно 15 т.р. за настройку и оформление

  </div>
  <div>
    Дополнительные услуги к любому из пакетов:

    Продвижение:

    ведение рекламы в интернете от 5000 рублей в месяц, возможность прописать сумму не менее 5000 рублей для рекламы, по
    умолчанию стоит 0 рублей
  </div>
  <form id='planForm' action='/plans' method='post'>
  <input id='plan1' type='radio'>Plan 1</input>
  <input id='plan2' type='radio'>Plan 2</input>
  <button type='submit'>Submit</button>
  </form>
</div>
<script defer src="/js/plans.js"></script>