<h1>Register</h1>

<form type='submit' id='registrationForm' method='post' action='/register'>
  <input id='emailInput' type="email" placeholder="email@example.com">
  <input id='passwordInput' type="password" placeholder="your secure pwd">
  <button id='registerButton' href='/oops'>Register</button>
</form>
<script defer src="/js/registration.js"></script>