   <script defer src="./js/upload.js"></script>
   
   <form ref='uploadForm' id='uploadForm' action='http:/upload' method='post' encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input id='uploadButton' type='submit' value='Загрузить' />
    </form>     
