* {
  margin: 0;
  padding: 0;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  

  &__category {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 50px;
  }

  &__category-item{
    margin-top:20px;
  }
}